<% @title="Nouvel Exercice" %>
<div class="bg-base-200 h-screen">
  <%= render "home/feeds/navbars/navbars" %>
  <div class="mx-auto md:w-2/3 w-full pt-20 ">
 
    <div class="mx-auto border p-4 bg-white">
     <h2 class="flex justify-center font-bold my-4 ">Exercice</h2>
      <%= render "form", quiz: @quiz %>
    </div>
  </div>
</div>