<!-- get User feedback-->

<div
    class="card rounded-md bg-white">
    <!-- setup pop up to send User requete-->
    <div class="avatar-group -space-x-6">
  <div class="avatar">
    <div class="w-12">
      <%= avatar_user %>
    </div>
  </div>
  <div class="avatar">
    <div class="w-12">
     <%= avatar_user %>
      
    </div>
  </div>
  <div class="avatar">
    <div class="w-12">
     
      <%= avatar_user %>
    </div>
  </div>
  <div class="avatar placeholder">
    <div class="w-12 bg-neutral-focus text-neutral-content">
      <span>+99</span>
    </div>
  </div>
</div>
</div>

