<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, suscipit hic molestias in eaque deserunt magnam reiciendis mollitia dignissimos voluptatibus, nam sed tenetur eius labore voluptatum, quisquam quas ipsa dicta?</p>


<%= link_to "Se Connecter", new_user_session_path, class:"bg-blue-600 rounded-md font-semibold text-white px-4 py-3", data:{turbo_frame: "_top"} %> 
<br> <br> ou <br> </br>
    <%= link_to "S'Inscrire pour la première fois",new_user_registration_path, class:"bg-black rounded-md font-semibold text-white px-4 py-3", data:{turbo_frame: "_top"} %> 
</div>