 
<% member_avatar = "#{[send("current_user").first_name.first, send("current_user").last_name.first].join('')}"  %>
<div class="w-8 rounded-full">
    <p class="flex h-8 w-8 rounded-full bg-gray-300 font-bold text-black mx-auto uppercase text-sm">
        <span class="flex justify-center mx-auto  "><%= member_avatar %></span>
    </p>
</div>



