<div class="w-full bg-white rounded-md">
    <h2 class="p-2 ">Classe Tle D2</h2>
    <p class="inset-x-0 top-0 z-50 h-0.5 mt-0.5 bg-blue-600"></p>
    <div class="card-body">
        <h3 class="font-bold"> Fil D'exercices</h3>
        <div class="text-xs py-2">3 Exercices de Math</div>
        <div class="text-xs py-2">3 Exercices de Philo</div>
        <div class="text-xs py-2">3 Exercices de SVT</div> 
    </div>
</div>


<div class="bg-white rounded-md my-4">
    <h2 class="p-2 ">Informations</h2>
    <p class="inset-x-0 top-0 z-50 h-0.5 mt-0.5 bg-blue-600"></p>
    <div class=" ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <div>
            <h3 class="font-bold">Nouveau message!</h3>
            <div class="text-xs">1 message</div>
        </div>
        
    </div>
</div>
