<%= turbo_frame_tag level do %>

  <div class="w-full flex my-2  ">
    <div class="flex w-2/3">
      <%= link_to  level.title,
          level_path(level),
          data:{turbo_frame:"_top"}, class:"font-semibold" %>
    </div>
    <div class="flex w-1/3">
      <%= button_to "Supprimé",
          level_path(level),
          method: :delete, class:"bg-red-600 font-bold rounded px-2 py-1 text-white text-md mx-4"  %>

      <%= link_to "Modifé",
          edit_level_path(level),
          
        class:"bg-gray-200 rounded px-2 py-1" %> 
    </div>
  </div>

<% end %>